# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

[*.{js,py,h,hpp,c,cpp,cxx,h.in}]
indent_style = space
# UTF-8 is not standardized for C++, but gcc, clang and msvc accept it, so it shouldn't be an issue
charset = utf-8

[*.{js,py}]
indent_size = 4

[*{c, cpp, cxx, h, hpp, h.in}]
indent_size = 2
