/build
/dist
/.coverage
/include/attitude/version.h
/include/attitude/config.h
/src/revision.txt
/src/attitudexx/attitudexx.cpython-*.so
/setup.py
/CMakeSettings.json
/CMakeUserPresets.json
/src/attitude/*.so

__pycache__
*.pyc
